<%- include partials/header.ejs%>



<%- include partials/main_nav.ejs%>

  <div class="container">
  <div class="row">
    <div class="col">
      <div>
      <img src="/Assets/images/mypic2.jpg" alt="..." class="img-thumbnail">
      </div>
    </div>
    
    <div class="col-7">
      <div>
        <h3></h3>
        <h3></h3>
        <h3>
            Mohammed Hajo
        </h3>
        <p>My name is mohammed hajo</p>
        <a class="btn btn-primary" href="\Assets\documents\myresume.pdf" target="_blank" role="button">Resume</a>
      </div>
    </div>
  </div>
</div>

  
  

  
<%- include partials/bottom_nav.ejs%>
  
<%- include partials/footer.ejs%>
